URL
<pre>
  http://localhost:3000/articles/1.json
</pre>

Method
<h5>
  DELETE
</h5>

Curl Command
<pre>
curl http://localhost:3000/articles/5.json \
  -H "access-token: DXDZY-y9t4mLjbJG_x7jxg" \
  -H "Client: 6LuIUGHfFOHmsuERWymR3g" \
  -H "Expiry: 1467611464" \
  -H "Uid: quyetdc.uet@gmail.com" -v -X DELETE
</pre>

Response
<pre>
  HTTP/1.1 204 No Content
</pre>
