
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Attribute</th>
    <th>Type</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><strong><code>id</code></strong></td>
    <td>Integer
    </td>
  </tr>
  <tr>
    <td><strong><code>user_id</code></strong></td>
    <td>Integer
    </td>
  </tr>
  <tr>
    <td><strong><code>title</code></strong></td>
    <td>String
    </td>
  </tr>
  <tr>
    <td><strong><code>url</code></strong></td>
    <td>String
    </td>
  </tr>

  <tr>
    <td><strong><code>total_likes</code></strong></td>
    <td>Integer
    </td>
  </tr>

  <tr>
    <td><strong><code>total_unlikes</code></strong></td>
    <td>Integer
    </td>
  </tr>

  <tr>
    <td><strong><code>created_at</code></strong></td>
    <td>DateTime
    </td>
  </tr>

  <tr>
    <td><strong><code>updated_at</code></strong></td>
    <td>DateTime
    </td>
  </tr>
  </tbody>
</table>

<h3><strong>Note:</strong> </h3>Each time we process a successful request to server,
  the response headers will include header params for next request
