Note: User doesn't need to sign in for this API
<br>
URL
<pre>
  http://localhost:3000/articles.json
</pre>

Method
<pre>GET</pre>

<h5>
  Response
</h5>

<pre>
{
  "data": {
    "articles": [
      {
      "id": 22
      "user_id": 4
      "title": "Old People Voting Ban"
      "url": "http://www.breitbart.com/london/2016/06/27/media-calls-ban-old-people-voting-brexit-vote/"
      "created_at": "2016-06-27T16:39:20.000Z"
      "updated_at": "2016-07-01T15:56:52.000Z"
      "total_view": 1
      "score": 5
      "approved": true
      "total_votes": 1
      "total_vote_points": 0.875
      "averaged_votes": 0.875
      "total_score": 2.907
      "favorited": false
      "user": {
        "email": "wrightcolton@gmail.com"
        "name": null
        "nickname": null
        "image": {
          "image": {
          "url": null
          "standard": {
            "url": null
            }-
          "thumbnail": {
            "url": null
            }-
          }-
        }-
      }
    ]
  },
  "status": "success"
}
</pre>
<!--  END SIGN UP  -->

