
URL
<pre>
  http://localhost:3000/articles/:id/like.json
</pre>

Method
<pre>POST</pre>

Example
<pre>
curl http://localhost:3000/articles/1/like.json -v -H "access-token: 9yCjSrbvBUIjyeHWo1-3Jg" \
  -H "Client: ZVmQR8oIAsYByyj8OXi80g" \
  -H "Expiry: 1467774356" \
  -H "Uid: quyetdc.uet@gmail.com" --data ""

</pre>

<h5>
  Response
</h5>

<pre>
  {
      status: "success"
  }
</pre>
<!--  END SIGN UP  -->

