Note: User doesn't need to sign in for this API
<br>
URL
<pre>
  curl http://localhost:3000/articles/5.json -v
</pre>

<h5>
  Response
</h5>

<pre>
{
   "data":{
      "article":{
         "id":3,
         "user_id":2,
         "title":"European-Union-referendum-UK-goes-to-the-polls",
         "url":"http://www.bbc.com/news/uk-politics-eu-referendum-36602702",
         "created_at":"2016-06-23T10:19:35.000Z",
         "updated_at":"2016-06-23T10:19:35.000Z",
         "total_likes":1,
         "total_unlikes":0,
         "approved": false,
         "voted": false
      }
   },
   "status":"success"
}
</pre>
<!--  END SIGN UP  -->

