<ol>
  <li>
    <%= link_to 'Before Start', before_start_path %>
  </li>

  <li>
    <%= link_to 'Account', user_api_path %>
  </li>

  <li>
    <%= link_to 'Article', article_api_path %>
  </li>
</ol>