<!DOCTYPE html>
<html lang="en">
  <%= render partial: 'shared/head' %>
  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">DNEWS-Api</a>
      </div>
    </div>

    <div class="container main">
      <div class="row">
        <div class="col-lg-2 sidebar">
          <%= render partial: 'shared/sidebar' %>
        </div>

        <div>
          <div class="col-lg-2"></div>
          <div class="col-lg-10">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
        </div>
      </div><!--/row-->

    </div> <!-- /container -->

  </body>
</html>
